body {
  padding: 2rem;
}

.selected {
  background-color: #f3f4f6;
  color: #374151;
}

.move-to-right {
  animation: move-right 750ms ease-in;
}

.move-to-left {
  animation: move-left 750ms ease-in;
}

.list-group-item {
  transition: all 0.3s ease;
}

.list-group-item:hover {
  background-color: #f3f4f6;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-50%);
  }
  30% {
    background-color: #fef9c3;
    transform: translateX(10px);
  }
  50% {
    background-color: #fefce8;
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(0);
  }
  100% {
    background-color: #fff;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(50%);
  }
  30% {
    background-color: #fef9c3;
    transform: translateX(-10px);
  }
  50% {
    background-color: #fefce8;
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(0);
  }
  100% {
    background-color: #fff;
  }
}

/* 上から下に落ちるバージョン */
/* @keyframes move-right {
  0% {
    transform: translateY(-2000px);
    opacity: 0.1;
  }
  30% {
    background-color: #fef9c3;
    transform: translateY(-200px);
    opacity: 1;
  }
  70% {
    transform: translateY(20px);
    opacity: 1;
  }
  80% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    background-color: #fff;
  }
} */
