* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100rem;
  height: 70rem;
  background-color: #eee;
  border-radius: 3rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  position: relative;

  /* POINT：-XXremで隠す場合、親をoverflow: hidden にすれば、小さい値でもOK */
  overflow: hidden;
}

.banner {
  position: absolute;
  top: 25%;

  /* .container.change で元の位置に戻す */
  left: -30rem;
  transition: all 0.8s;

  text-align: center;
  color: #fff;
  width: 30rem;
  z-index: 100;
}

/* POINT：IF文 */
/* .container.change で元の位置に戻す */
.container.change .banner {
  left: 5rem;
}

.banner h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.banner p {
  font-size: 2rem;
}

.green-bg {
  height: 100%;
  background: linear-gradient(to right, #3ab19b, #4cbf91);

  position: absolute;
  top: 0;
  left: 0;

  /* .container.change で元の位置に戻す */
  width: 100%;
  z-index: 50;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/* POINT：IF文 */
/* .container.change で元の位置に戻す */
.container.change .green-bg {
  width: 40%;
}

/* POINT：absolute, green-bgもabsolute、buttonもabsolute */
.green-bg button {
  position: absolute;
  top: 50%;
  left: 50%;

  /* POINT：translateXで中央に寄せる */
  transform: translateX(-50%);

  width: 16rem;
  height: 5rem;

  /* POINT：transparent, 背景色と同じ色のボタンにしたい場合、transparentを使う */
  background-color: transparent;

  border: 0.1rem solid #fff;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  cursor: pointer;
}

.signup-form {
  width: 60rem;
  height: 100%;
  position: absolute;
  top: 0;

  /* .container.change で元の位置に戻す */
  left: 0;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 10rem 0;
}

/* POINT：IF文 */
/* .container.change で元の位置に戻す */
.container.change .signup-form {
  left: 40rem;
}

.signup-form h1 {
  font-size: 4rem;
  color: #3aaf9f;
}

.signup-form .social-media {
  display: flex;
}

.signup-form .social-media i {
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #777;
  border-radius: 50%;

  margin-right: 2rem;
  font-size: 2rem;
  color: #555;

  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form p {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 2rem;
}

.signup-form .input-group {
  position: relative;
}

.signup-form .input-group input {
  font-family: inherit;
  width: 28rem;
  height: 5rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: #ddd;
  border: none;
  border-radius: 0.5rem;
}

.signup-form .input-group i {
  position: absolute;
  top: 50%;
  left: 1rem;

  /* POINT：translateYで中央に寄せる */
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #555;
}

.signup-form button {
  width: 16rem;
  height: 5rem;
  background-color: #3aaf9f;
  border: none;
  border-radius: 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  margin-top: 3rem;
  cursor: pointer;
}
