* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'EB Garamond' serif;
}

html {
  font-size: 62.5%;
}

.container {
  padding: 1rem;
}

.navbar {
  position: relative;
}

.nav-list {
  display: flex;
}

.nav-item {
  text-align: center;
}

.nav-item:hover .dropdown {
  /* POINT：IF文 */
  /* nav-itemをhoverしたら、nav-itemの配下のdropdownを表示する */
  opacity: 1;
  visibility: visible;
}

.nav-link {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.dropdown {
  padding: 1rem 0;
  background-color: #3b82f6;
  border-radius: 1rem;

  /* POINT：top: 100%で、親要素のちょうど下になる */
  position: absolute;
  top: 100%;
  left: 0;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s;
}

/* TODO：角をちょうどよい場所にはやすのは難しい */
.dropdown::before {
  content: '';
  position: absolute;

  /* POINT：角, 三角形 */
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1.2rem solid #3b82f6;

  top: 0;
  left: 50%;

  /* POINT：y=-100%で、親要素のちょうど上になる */
  transform: translate(-50%, -100%);
}

.dropdown-item {
  text-align: left;
  padding: 0.5rem 2rem;
  border-left: 4px solid #3b82f6;

  transition: all 0.3s;
}

.dropdown-item:hover {
  background-color: #2563eb;
  border-left: 4px solid #60a5fa;
}

.dropdown-link {
  font-size: 1.6rem;
  font-weight: 900;
  color: #dbeafe;
}

.dropdown p {
  font-size: 1.4rem;
}
