* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgba(191, 248, 226);

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 70rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  width: 10rem;
  height: 100%;
  background-color: rgb(222, 233, 181);
  padding-bottom: 1rem;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  position: relative;

  transition: all 0.3s;
}

.change.navbar-link {
  background-color: rgb(185, 197, 147);
}

.navbar-link::before {
  content: '';
  width: 10rem;
  height: 6.7rem;
  background-color: rgba(191, 248, 226);
  border-radius: 0 0 5rem 5rem;

  position: absolute;
  top: -100%;
  left: 0rem;
}

.change.navbar-link::before {
  top: -30%;

  transition: all 0.3s;
}

.navbar-link i {
  font-size: 2.5rem;
  color: #333;

  transition: all 0.3s;
}

.change.navbar-link i {
  font-size: 3.5rem;
  color: #fff;
}
